import React from 'react';
import './{{dashCase componentName}}.styles.less';

export interface {{pascalCase componentName}}Props {
  readonly value?: string;
}

const {{pascalCase componentName}}: React.FC<{{pascalCase componentName}}Props> = ({value}) => {

return (
    <div className='{{dashCase componentName}}'>

    </div>
);
};

export default {{pascalCase componentName}};